* {
  margin : 0 ;
  padding : 0 ;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

body {
  background-color : #73C8A9;
}

@keyframes gradient {
  0% {
  background-position: 0% 50% ;
  }
  50% {
    background-position: 100% 50% ;
  }
  100% {
    background-position: 0% 50% ;
  }
}

header{
  display : flex ;
  margin: auto ;
  border-style : none ;
  padding : 1.2em ;
  background-color: rgba(0, 0, 0, 0.576) ;
  color :rgb(152, 12, 120) ;
  animation: slidein 2s ease-in-out;
}

a{
  color:rgba(0, 0, 0) ;
  text-decoration: none ;   
}

a:hover{
  background-color: rgba(177, 169, 169, 0.686) ;
  border-radius: 10px ;
  padding: 0.5em ;
  transition: 350ms ease-in-out ;
}

p{
  font-size : 20px ;
  color : rgba(245, 245, 245, 0.872) ;
  animation: showup 6s ease-in-out ;
}

h5{
  margin: 0% ;
  padding: 2px ;
  color: whitesmoke ;
}

img{
  max-width : 100% ;
  max-height: 100% ;
  object-fit: contain ;
}

/*-- Définition des classes --*/

.titles{
  text-align: center ;
}

.nav-list{
  list-style: none ;
  display: flex ;
}

.nav-list li {
  font-size : 20px ;
  padding: 0px 10px ;
}

.action{
  animation: slidein2 2s ease-in-out;
}

.inner{
  margin: auto ;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap : 50px ;
}

.descr{
  margin-top: 2em;
  display: inline-flex ;
}

.descr details{
  margin-left: 1.5em ;
  margin-bottom: auto ;
  padding : 0 1.5em ;
  border-radius: 10px ;
  background-color: rgba(0, 0, 0, 0.376) ;
  color : whitesmoke ;
  overflow: hidden ;
}

.descr summary{
  padding: 1em 0 ;
}

.wrapper{
  border-style: none ;
  margin: 10% 5%;
  padding: 1em ;
  background-color: rgba(0, 0, 0, 0.576) ; 
  font-size: 24px ;
  text-align: left ;

}

.no-background{
  padding : 1.2em ;
}
.no-background i{
  font-size : 800% ;
}

.no-background i:hover{
  font-size : 900% ;
  transition-duration: 400ms ;
}

.footer{
  margin : auto ;
  background: rgba(0, 0, 0, 0.576) ;
  display : flex ;
  align-items : center ;
  justify-content: center ;
}

.footer .nav-list {
  margin : auto ;
  padding : 20px ;
}

.footer .nav-list li {
  font-size : 1em ;
}

/*-- Définition des id --*/

#projects h5 {
  margin-bottom : 1em ;
}

/*-- Définition des animations --*/
@keyframes slidein {
  from{
    margin-left: 40%;
  }
  to{
    margin-left: 0%;
  }   
}

@keyframes slidein2 {
  from{
    margin-left: 50%;
  }
  to{
    margin-left: 5%;
  }
    
}

@keyframes myshadowing {
  0%,100%{
    box-shadow: 10px 5px 5px red;
  }
  25%,75%{
    box-shadow: 10px 5px 5px purple;
  }
  50%{
    box-shadow: 10px 5px 5px blue;
  }
}

@keyframes showup {
  from{
  color : rgba(0 , 0 , 0 ,0);
  }
  to{
    color : rgba(245, 245, 245, 0.872) ;
  }
}
