body {
  background : linear-gradient(45deg, rgb(152, 12, 120), rgb(101, 25, 167) 60%, rgba(41, 41, 232, 0.861));    
  /* background-repeat: no-repeat ; */
  background-size : 200% ;
  animation : gradient 15s running ease-in infinite ;
  /* background-attachment: fixed ; */
  margin : 0 ;
  padding : 0 ;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

@keyframes gradient {
  0% {
  background-position: 0% 50% ;
  }
  50% {
    background-position: 100% 50% ;
  }
  100% {
    background-position: 0% 50% ;
  }
}

header{ 
  margin: auto ;
  border-style : none ;
  padding : 1.2em ;
  font-size : 300% ;
  background-color: rgba(0, 0, 0, 0.576) ;
  color :rgb(152, 12, 120) ;
  animation: slidein 2s ease-in-out;
}

a{
  color:rgba(0, 0, 0) ;
  text-decoration: none ;   
}

a:hover{
  background-color: rgba(177, 169, 169, 0.686) ;
  padding: 0.5em ;
  transition: 350ms ease-in-out ;
}


p{
  font-size : 20px ;
  color : rgba(245, 245, 245, 0.872) ;
  animation: unvisible 6s ease-in-out ;
}

/*-- Définition des classes --*/

.titles{
  text-align:left ;
}

.action{
  animation: slidein2 2s ease-in-out;
}

.inner{
  margin: auto ;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap : 50px ;
}
/*-- Définition des id --*/

#about{
  border-style: none ;
  margin: 10% 5%;
  padding: 1em ;
  background-color: rgba(0, 0, 0, 0.576) ; 
  font-size: 24px ;
  text-align: left ;

}

/*-- Définition des animations --*/
@keyframes slidein {
  from{
    margin-left: 40%;
  }
  to{
    margin-left: 0%;
  }   
}

@keyframes slidein2 {
  from{
    margin-left: 50%;
  }
  to{
    margin-left: 5%;
  }
    
}

ul{
  align-self: stretch;
  align-items: baseline ;
}
li{
  list-style-type: none;
  font-size: 1.5em;
  display: inline-block ;
  margin : 0 10px ;

}

h5{
  margin:0% ;
  padding:2px ;
  color: whitesmoke ;
} 

@keyframes myshadowing {
  0%,100%{
    box-shadow: 10px 5px 5px red;
  }
  25%,75%{
    box-shadow: 10px 5px 5px purple;
  }
  50%{
    box-shadow: 10px 5px 5px blue;
  }
}

@keyframes unvisible {
  from{
  color : rgba(0 , 0 , 0 ,0);
  }
  to{
    color : rgba(245, 245, 245, 0.872) ;
  }
}
/*@keyframes myshadowing {
    0%{
        box-shadow: 0px 0px 5px red;
    }
    25%{
        box-shadow: 0px 0px 15px red;
    }
    50%{
        box-shadow: 0px 0px 25px red;
    }
    75%{
        box-shadow: 0px 0px 35px red;
    }
    100%{
        box-shadow: 0px 0px 45px red;
    }
}*/
